.block_informations {
  padding: 157px 0 37px;
  @include mq(lg) {
    padding: 195px 0 75px;
  }

  .container {
    padding: 0 30px;
    @include mq(sm) {
      padding: 0 50px;
    }

    @include mq(lg) {
      padding: 0 30px;
    }
    max-width: 1090px;
  }
  * {
    font-size: 12px;
    @include mq(sm) {
      @include font-size(12, 15);
    }
    @include mq(xxl) {
      font-size: 15px;
    }
  }

  h3 {
    text-transform: uppercase;
    @include mq(lg) {
      margin-bottom: 8px;
    }
  }
}
