.hero {
	width: 100%;
	color: $color-white;
	padding-bottom: 47px;
	background: {
		size: cover;
		repeat: no-repeat;
		position: center center;
	}
	@include mq(md) {
		padding-bottom: 52px;
	}
	@include mq(lg) {
		padding-bottom: 58px;
	}
	.page-title {
		padding-top: 10px; //calc(5px + 111px);
		@include mq(md) {
			padding-top: 15px; //calc(5px + 160px);
		}
		@include mq(lg) {
			padding-top: 76px; //calc(66px + 197px);
		}
	}
}
.home .hero {
	padding-bottom: 65px;
	@include mq(md) {
		padding-bottom: 90px;
	}
	@include mq(lg) {
		padding-bottom: 139px;
	}
}
