.btn {
	font-size: 13px;
	font-family: $font-extrabold;
	font-weight: normal;
	letter-spacing: 1.06px;
	display: inline-block;
	color: $color-white;
	cursor: pointer;
	padding: 11px 31px;
	@include mq(sm) {
		font-size: 15px;
	}
	@include mq(xl) {
		font-size: 18px;
		padding: 13px 42px;
		letter-spacing: 1.28px;
	}
	text-transform: uppercase;

	&--a {
		background-color: $color-1;
	}
	&--brand,
	&--b,
	&--c,
	&--d,
	&--e,
	&--f {
		padding: 12px 41px;
		@include mq(lg) {
			font-size: 18px;
			padding: 11px 31px;
		}
	}
	&--b {
		background-color: $color-2;
	}

	&--c {
		background-color: $color-3;
	}

	&--d {
		background-color: $color-4;
	}

	&--e {
		background-color: $color-5;
	}
	&--f {
		color: $color-black;
		background-color: $color-white;
		padding: 11px 37px;
		&:hover {
			color: $color-black;
		}
		@include mq(lg) {
			padding: 10px 23px;
		}
	}
	&--apply {
		background-color: $color-white;
		color: $color-black;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		display: flex;

		margin: 0 auto;
		font-size: 15px;
		line-height: 1;
		@include mq(sm) {
			font-size: 18px;
			width: 270px;
		}
		@include mq(lg) {
			line-height: inherit;
			font-size: 18px;
			display: inline-flex;
			justify-content: space-between;
			margin: 0;
			width: auto;
			padding: 13px 60px;
		}

		&:before {
			display: block;
			content: '';
			width: 24px;
			height: 24px;
			margin-right: 10px;
			background: {
				image: url('../images/icons/messenger.png');
				size: 24px 24px;
				repeat: no-repeat;
			}
		}
	}
}
.btn-read-more {
	font-family: $font-extrabold;
}
.hamburger {
	width: 40px;
	height: 36px;
	display: flex;
	@include mq(lg) {
		display: none;
	}

	justify-content: center;
	align-items: center;
	&__wrapper {
		width: 32px;
		height: 24px;
		position: relative;
	}
	&__item {
		width: 32px;
		height: 3px;
		display: block;
		background-color: $color-white;
		&:not(:last-child) {
			margin-bottom: 4px;
		}
	}
	&.closeBurger {
		transform: rotate(45deg);
		.hamburger__item {
			&:first-child,
			&:last-child {
				display: none;
			}
			&:nth-child(2),
			&:nth-child(3) {
				position: absolute;
				left: 0;
				top: 50%;
			}
			&:nth-child(2) {
				transform: translateY(-50%);
			}
			&:nth-child(3) {
				transform: translateY(-50%) rotate(90deg);
			}
		}
	}
}
