$text-color-base: #000;
$text-color-lighter: #909090;

//$link-color: #26527c;
$link-hover-color: #3879b7;

$mail-color: #1e90c3;

$color-black: #000000;
$color-white: #ffffff;

$color-1: #1e90c3;
$color-2: #013363;
$color-3: #01db99;
$color-4: #5dbcd2;
$color-5: #ebca97;
$color-6: #8100f2;

$bgr: #061c31;
$bgr-1: #1a1a1a;
$bgr-2: #1e90c3;
