@font-face {
	font-family: 'proxima_novaextrabold';
	src: url('../fonts/fontsfree-net-proxima-nova-xbold-webfont.woff2') format('woff2'),
		url('../fonts/fontsfree-net-proxima-nova-xbold-webfont.woff') format('woff'),
		url('../fonts/fontsfree-net-proxima-nova-xbold-webfont.svg#proxima_novaextrabold')
			format('svg');
	font-weight: normal;
	font-style: normal;
}

$font-base: Arial, sans-serif;
$font-extrabold: 'proxima_novaextrabold', serif;

$line-height-base: 1.2;

$font--text: Arial, sans-serif;
