/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-base;
	font-weight: 400;

	margin: 0 0 1.2em;

	&:only-child {
		margin: 0;
	}
	&:last-child {
		margin: 0;
	}
}
/* Text Elements */
p {
	line-height: 1.4;
	margin: 0 0 20px;
	@include mq(lg) {
		line-height: 1.5;
	}
	&:last-child {
		margin: 0;
	}
}

h1 {
	font-size: 32px;
	font-family: $font-extrabold;
	font-weight: normal;
	text-transform: uppercase;
	color: $color-white;
	margin: 0 0 34px;
	@include mq(sm) {
		@include font-size(40, 80);
	}
	@include mq(xxl) {
		font-size: 80px;
		margin: 0 0 56px;
	}
	&.page-title {
		@include mq(md) {
			text-align: center;
		}
	}
}

h2 {
	font-size: 30px;
	font-family: $font-extrabold;
	font-weight: normal;

	text-transform: uppercase;
	@include mq(sm) {
		@include font-size(30, 48);
	}

	@include mq(xxl) {
		font-size: 48px;
	}
}

h3 {
	font-size: 18px;

	font-family: $font-extrabold;
	font-weight: normal;
	@include mq(sm) {
		@include font-size(18, 24);
	}

	@include mq(xxl) {
		font-size: 24px;
	}
}

h4 {
	font-size: 12px;
	font-family: $font-extrabold;
	font-weight: normal;
	&:not(:last-child) {
		margin-bottom: 10px;
	}
	@include mq(sm) {
		@include font-size(12, 15);
	}
	@include mq(xxl) {
		font-size: 15px;
	}
}

h5 {
	font-family: $font-extrabold;
	font-size: 18px;
	margin-bottom: 4px;
	@include mq(sm) {
		@include font-size(18, 24);
	}

	@include mq(xxl) {
		font-size: 24px;
		margin-bottom: 8px;
	}
	letter-spacing: 0.02px;

	text-transform: uppercase;
}

.lightbox-post__title {
	font-size: 30px;
	font-family: $font-extrabold;
	font-weight: normal;
	text-transform: uppercase;
	@include mq(sm) {
		@include font-size(30, 48);
	}
	@include mq(xxl) {
		font-size: 48px;
	}
}
.highlight-post__title {
	font-size: 24px;
	font-family: $font-extrabold;
	font-weight: normal;
	text-transform: uppercase;
	@include mq(sm) {
		@include font-size(24, 48);
	}
	@include mq(xxl) {
		font-size: 48px;
	}
}
