/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-base;
	font-weight: 400;

	margin: 0 0 1.2em;

	&:only-child {
		margin: 0;
	}
	&:last-child {
		margin: 0;
	}
}
/* Text Elements */
p {
	margin: 0 0 20px;
	&:last-child {
		margin: 0;
	}
}

h1 {
	font-size: 32px;
	font-family: $font-extrabold;
	font-weight: normal;
	text-transform: uppercase;
	color: $color-white;
	margin: 0 0 34px;
	@include mq(sm) {
		@include font-size(40, 80);
	}
	@include mq(xl) {
		font-size: 80px;
		margin: 0 0 56px;
	}
}

h2 {
	font-size: 30px;
	font-family: $font-extrabold;
	font-weight: normal;
	color: $color-3;
	text-transform: uppercase;
	@include mq(sm) {
		@include font-size(30, 48);
	}
	@include mq(xl) {
		font-size: 48px;
	}
}
h3 {
	font-size: 20px;
	font-family: $font-extrabold;
	font-weight: normal;
	@include mq(sm) {
		@include font-size(20, 24);
	}
	@include mq(xl) {
		font-size: 24px;
	}
}
h4 {
	font-size: 12px;
	font-family: $font-extrabold;
	font-weight: normal;
	&:not(:last-child) {
		margin-bottom: 10px;
	}
	@include mq(sm) {
		@include font-size(12, 15);
	}
	@include mq(xl) {
		font-size: 15px;
	}
}
